footer{
    background-color: #4F5D5A;
    color:white;
}

body{
    background-color: #838D8B;
    min-width: 100%;
}

.container{
    position:relative;
    top:150px;
    bottom:75px;
}


.card{
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.1);
}

@media (max-width: 992px) {
    .navbar .logo-image{
        position: absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
    nav .navbar{
        height: 100px !important;
    }
    .container{
        top:75px;
    }
}
