body{
    margin: 0;
    background-color: rgb(69, 123, 157);
}

header{
    display:grid;
    position:fixed;
    height: 200px;
    background-color: rgb(241, 250, 238);
    z-index: 10;
}
.navbar{
    background-color: rgb(168, 218, 220);
    position:fixed;
    top:200px;
    z-index:10;
    font-weight: bold;
}

.nav-color{
    background-color: rgb(168, 218, 220);
    position:fixed;
    top:200px;
    z-index:10;
}

.container img{
    width: 100%;
    background-size: cover;
}
.background-image{
    padding: 0;
    margin: 0;
    position: relative;
    top:255px;
}
.container{
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    color: rgb(69, 123, 157);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
    top:255px;
    background-color: rgb(69, 123, 157);
}
.produs{
    height:300px;
    width: 25%;
    background-color: antiquewhite;
    padding:20px 20px;
    margin: 15px;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(29, 53, 87);
    color:darkgreen;
}
footer a{
    margin:0 10px;
}